/test/run-cpp-libs
/test/run-cpp-libs.dSYM/
/test/run_tests.dSYM/
/test/run-tests
/test/*.bed
/build/
/test/bench_data/
/test/3rd-party/coitrees/target/
/test/intervaldb.o
/superintervals.egg-info/
/superintervals/intervalset.cpp
/superintervals/intervalset.cpython-310-darwin.so
/superintervals/intervalset.cpython-311-darwin.so
/test/bed-intersect
/superintervals/superintervals.cpp
